# database
## main
export db_user=
export db_host=
export db_pass=
export db_name=
export db_charset=utf8mb4

# other
export salt={{salt}}
export environment=local

export timezone='America/Mexico_City'

export connect=1
export debug=1
export mode=demo

echo ok
